* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: -apple-system;
}
.logo {
  font-family: -apple-system;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}
.navLinks {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.navLinks li {
  list-style: none;
}
.navLinks a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1250px) {
  .navLinks {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navLinks li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toglle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toglle .line2 {
  opacity: 0;
}
.toglle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
