@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100;700&family=Source+Code+Pro&display=swap");
$appleFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$lightForegroundColor: rgb(38, 38, 38);
$darkForegroundColor: #deceb6;
$navForegroundColor: #e8e4da;
$backgroundColor: rgb(21, 20, 20);
$accentColor: rgb(144, 150, 177);

$borderPadding: clamp(3rem, 7vw, 6rem);
$animate: all 0.2s ease-in-out;

%neuphormism {
  border: none;
  border-radius: 0.4em;
  box-shadow: 0.35em 0.35em 1.2em rgb(10, 10, 10),
    -0.3em -0.3em 1.3em rgb(25, 25, 25);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $backgroundColor;
}
a,
p {
  text-decoration: none;
}
hr {
  visibility: hidden;
}

section {
  height: 100vh;
}

.nav {
  height: 9vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 111;
  font-family: $appleFont;
  background-color: rgba(19, 19, 19, 0.8);
  display: flex;
  opacity: 0.9909;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: space-between;
  padding: 0 $borderPadding;
  border-bottom: 1px solid rgba(169, 160, 150, 0.5);
  .links {
    font-size: clamp(0.5rem, 1.3vw, 1.6rem);
    display: flex;
    justify-content: space-around;
    width: clamp(25rem, 40vw, 50rem);
    li {
      list-style: none;
    }
    a {
      padding: 0.5em;
      color: $navForegroundColor;
      text-decoration: none;
      letter-spacing: 3px;
      font-size: 0.85em;
      transition: transform 250ms;
      &:hover {
        color: white;
      }
    }
  }
}

.logo {
  justify-content: left;
  font-family: $appleFont;
  text-decoration: none;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 450;
  letter-spacing: 1px;
  color: $navForegroundColor;
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 25px;
    height: 3px;
    background-color: $darkForegroundColor;
    margin: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
  }
}

@media screen and (max-width: 50rem) {
  body {
    overflow: hidden;
  }
  .links {
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: rgba(19, 19, 19, 0.65);
    opacity: 0.9909;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    li {
      font-size: clamp(0.5rem, 7vw, 2rem);
      margin: auto;
      padding-top: 0;
      padding-bottom: 15vh;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------HOME------*/
.home {
  .landingWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("img/landingBlackMobile.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  h3 {
    margin-top: 60vh;
    margin-left: 6vw;
    margin-bottom: 0;
    font-family: "Merriweather", sans-serif;
    font-size: 2rem;
    color: $darkForegroundColor;
  }
  h1 {
    margin-top: 1vh;
    margin-left: 6vw;
    margin-bottom: 0;
    font-family: "Roboto Slab", sans-serif;
    font-size: 3rem;
    color: $darkForegroundColor;
  }
  p {
    margin-top: 1.5vh;
    margin-left: 6vw;
    margin-right: 2vw;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $darkForegroundColor;
  }
  a {
    color: rgb(45, 38, 27);
  }
  .personalLinks {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 6vw;

    button {
      background-color: transparent;
      border: none;
      margin-right: 1rem;
      padding: 0;
      img {
        margin: 0;
        padding: 0;
        width: 1.5rem;
        height: auto;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media (min-width: 50rem) {
    .landingWrapper {
      background-image: url("img/landingBlack.jpg");
      background-position: top;
      box-shadow: none;
    }
    h3 {
      margin-top: 27vh;
      margin-left: 4.5vw;
      margin-bottom: 0;
      font-size: 5vw;
    }
    h1 {
      margin-top: 2vh;
      margin-left: 4.5vw;
      margin-bottom: 0;
      font-size: 6.5vw;
    }
    p {
      margin-top: 3vh;
      margin-left: 4.5vw;
      font-size: 1.2vw;
      font-weight: 400;
    }
    a {
      color: $accentColor;
      &:hover {
        text-decoration: underline;
        text-decoration-color: $accentColor;
      }
    }
    .personalLinks {
      margin-left: 4.5vw;
      button {
        margin-right: clamp(0.5rem, 1vw, 1rem);
        img {
          width: clamp(1rem, 1.5vw, 2rem);
        }
      }
    }
  }
}

/* ------PROJECTS------*/
#projects {
  padding: 0 $borderPadding;
  color: $darkForegroundColor;
  font-family: "roboto";
  hr {
    visibility: hidden;
  }
}

.heading {
  text-align: center;
  margin-top: 10vh;
  h1 {
    font-family: "roboto slab", sans-serif;
    font-size: clamp(2.2rem, 7vw, 4rem);
    margin-bottom: 0pt;
  }
  h2 {
    font-family: "roboto slab", sans-serif;
    font-size: clamp(0.5rem, 5vw, 1rem);
  }
}

.projects {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.projectCard {
  margin-bottom: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-width: 0.2em;
  border-style: solid;
  border-image: linear-gradient(to top right, rgb(62, 45, 27), rgb(120, 86, 50))
    1;
  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    h1 {
      font-size: clamp(0.5rem, 6vw, 2rem);
      color: $darkForegroundColor;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 50rem) {
  .heading {
    margin: 12vh auto 0 auto;
    text-align: center;
    h1 {
      font-size: clamp(5rem, 5vw, 8rem);
      margin-bottom: 0pt;
    }
    h2 {
      font-size: clamp(0.5rem, 2vw, 3rem);
    }
  }
  .projects {
    margin: auto;
    margin-top: clamp(9rem, 18vh, 16rem);
    flex-direction: row;
    width: 100%;

    .projectCard {
      border-width: clamp(0.2rem, 0.3vw, 0.4rem);
      &:hover {
        border-width: clamp(0.3em, 0.5vw, 0.6em);
      }
      button {
        h1 {
          font-size: clamp(1rem, 2.3vw, 5rem);
          margin: auto;
          padding: 1em 2em;
        }
      }
    }
  }
}

/* ------CONTACT------*/
#contact {
  width: 100%;
  padding: 0 $borderPadding;
  display: flex;
  flex-direction: column;
  color: $darkForegroundColor;
  background-color: rgb(33, 32, 32);

  .contactHeading {
    margin-top: 3.3rem;
    font-family: "roboto slab", sans-serif;
    font-size: clamp(0.1rem, 7vw, 1.9rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.7em;
    justify-content: center;
  }
  .contactContent {
    display: flex;
    flex-direction: column;
    p {
      font-family: "roboto";
      text-align: justify;
      font-size: clamp(0.5rem, 5vw, 1rem);
      line-height: 1.7rem;
      margin-bottom: 15vh;
    }

    #emailForward {
      height: 3.2em;
      background: transparent;
      color: $darkForegroundColor;
      font-family: "roboto";
      font-size: clamp(1rem, 5vw, 1.2rem);
      font-weight: 700;
      letter-spacing: 0.2ch;
      border-width: 0.2em;
      border-style: solid;
      border-image: linear-gradient(
          to top right,
          rgb(62, 45, 27),
          rgb(120, 86, 50)
        )
        1;
    }
  }
}

@media (min-width: 50rem) {
  #contact {
    flex-direction: row;
    flex-wrap: nowrap;

    .contactHeading {
      margin-top: 0;
      padding-right: 3rem;
      flex-direction: column;
      font-size: clamp(1rem, 4vw, 5rem);
      width: 50%;
      height: 80%;
      text-align: right;
      h1 {
        margin: 0;
      }
    }
    .contactContent {
      padding-inline: clamp(2rem, 3vw, 6rem);
      width: 50%;
      height: 80%;
      justify-content: center;
      p {
        font-size: clamp(0.8rem, 1.3vw, 1.7rem);
        line-height: clamp(1.5rem, 2vw, 2.5rem);
        margin-bottom: 5vh;
      }

      #emailForward {
        width: clamp(20rem, 30vw, 35rem);
        font-size: clamp(0.8rem, 1.5vw, 1.7rem);
        margin-inline: auto;
        justify-content: center;
        &:hover {
          cursor: pointer;
          border-width: clamp(0.3em, 0.5vw, 0.6em);
        }
      }
    }
  }
}
/* ------FOOTER------*/

footer {
  left: 0;
  bottom: 0;
  height: clamp(4em, 6vh, 6rem);
  background-color: rgb(29, 28, 28);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .credits {
    p {
      color: $darkForegroundColor;
      margin: auto;
      font-size: clamp(0.1rem, 3vw, 2rem);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }

  @media (min-width: 40rem) {
    .credits {
      p {
        font-size: clamp(0.1rem, 1.2vw, 1.4rem);
      }
    }
  }
}

/*----------------PROJECT PAGES----------------*/

/* ------Soccer robot------*/
.project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 $borderPadding;
  margin-top: 14vh;
  color: $darkForegroundColor;

  .projectHeading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7em;
    width: 100%;
    font-family: "roboto slab", sans-serif;
    font-size: clamp(0.1rem, 5vw, 1.5rem);
    h1 {
      margin: 0;
    }
  }
  .projectContent {
    display: flex;
    flex-direction: column;
    p {
      line-height: 1.7rem;
      text-align: justify;
      margin-bottom: 1vh;
      margin-top: 5vh;
      font-family: "roboto";
      font-size: clamp(0.5rem, 4vw, 1.2rem);
    }
    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0.5rem;
      .projectLanguages {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;
        h1 {
          padding: 0.2em 0.4em;
          font-family: "Source Code Pro";
          font-size: clamp(0.5rem, 4vw, 1.1rem);
          color: rgb(176, 171, 164);
          background-color: rgb(50, 48, 48);
          border: none;
          border-radius: 5pt;
        }
      }
      .projectLinks {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
        button {
          border: none;
          background-color: transparent;
          img {
            width: clamp(0.5rem, 10vw, 1.8rem);
            height: auto;
            opacity: 0.6;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (min-width: 50rem) {
  .project {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    height: 100vh;
    margin: auto;

    .projectHeading {
      padding-right: 3rem;
      flex-direction: column;
      font-size: clamp(1rem, 3.2vw, 4.3rem);
      width: 50%;
      height: 100%;
      text-align: right;
      h1 {
        margin: 0;
      }
    }
    .projectContent {
      padding-inline: clamp(2rem, 3vw, 6rem);
      width: 50%;
      height: 100%;
      justify-content: center;
      p {
        font-size: clamp(0.8rem, 1.3vw, 1.7rem);
        line-height: clamp(1rem, 2.5vw, 2.6rem);
      }
      .bottom {
        .projectLanguages {
          h1 {
            font-size: clamp(0.8rem, 1.3vw, 1.7rem);
          }
        }
        .projectLinks {
          button {
            img {
              width: clamp(0.5rem, 2.5vw, 3rem);
            }
          }
        }
      }
    }
  }
}

/* ------Maze Algorithm------*/
.mazeHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7em;
  width: 100%;
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.5rem, 4.4vw, 1.3rem);
  h1 {
    margin: 0;
  }
}

@media (min-width: 50rem) {
  .mazeHeading {
    padding-right: 3rem;
    flex-direction: column;
    font-size: clamp(1rem, 3.2vw, 4.3rem);
    width: 50%;
    height: 100%;
    text-align: right;
    h1 {
      margin: 0;
    }
  }
}

/*# sourceMappingURL=style.css.map */
