@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100;700&family=Source+Code+Pro&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #151414;
}

a,
p {
  text-decoration: none;
}

hr {
  visibility: hidden;
}

section {
  height: 100vh;
}

.nav {
  height: 9vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(19, 19, 19, 0.15);
  display: flex;
  opacity: 0.9909;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(3rem, 7vw, 6rem);
  border-bottom: 1px solid rgba(169, 160, 150, 0.5);
}
.nav .links {
  font-size: clamp(0.5rem, 1.3vw, 1.6rem);
  display: flex;
  justify-content: space-around;
  width: clamp(25rem, 40vw, 50rem);
}
.nav .links .resume {
  border-radius: clamp(3pt, 0.5vw, 6pt);
  border-width: 0.1em;
  padding: 0.5rem;
  border-style: solid;
  border-color: #a9a096;
}
.nav .links li {
  list-style: none;
}
.nav .links a {
  padding: 0.5em;
  color: #e8e4da;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.85em;
  transition: transform 250ms;
}
.nav .links a:hover {
  color: white;
}

.logo {
  justify-content: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  font-weight: 450;
  letter-spacing: 1px;
  color: #e8e4da;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #deceb6;
  margin: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media screen and (max-width: 40rem) {
  body {
    overflow: hidden;
  }

  .links {
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: rgba(19, 19, 19, 0.65);
    opacity: 0.9909;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .links li {
    font-size: clamp(0.5rem, 7vw, 2rem);
    margin: auto;
    padding-top: 0;
    padding-bottom: 15vh;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------HOME------*/
.home .landingWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("img/landingBlackMobile.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home h3 {
  margin-top: 60vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  color: #deceb6;
}
.home h1 {
  margin-top: 1vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  color: #deceb6;
}
.home p {
  margin-top: 1.5vh;
  margin-left: 6vw;
  margin-right: 2vw;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #deceb6;
}
.home a {
  color: #2d261b;
}
.home .personalLinks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 6vw;
}
.home .personalLinks button {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  padding: 0;
}
.home .personalLinks button img {
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: auto;
}
.home .personalLinks button:hover {
  cursor: pointer;
}
@media (min-width: 40rem) {
  .home .landingWrapper {
    background-image: url("img/landingBlack.jpg");
    background-position: top;
    box-shadow: none;
  }
  .home h3 {
    margin-top: 27vh;
    margin-left: 4.5vw;
    margin-bottom: 0;
    font-size: 5vw;
  }
  .home h1 {
    margin-top: 2vh;
    margin-left: 4.5vw;
    margin-bottom: 0;
    font-size: 6.5vw;
  }
  .home p {
    margin-top: 3vh;
    margin-left: 4.5vw;
    font-size: 1.2vw;
    font-weight: 400;
  }
  .home a {
    color: #9096b1;
  }
  .home a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #9096b1;
            text-decoration-color: #9096b1;
  }
  .home .personalLinks {
    margin-left: 4.5vw;
  }
  .home .personalLinks button {
    margin-right: clamp(0.5rem, 1vw, 1rem);
  }
  .home .personalLinks button img {
    width: clamp(1rem, 1.5vw, 2rem);
  }
}

/* ------PROJECTS------*/
#projects {
  padding: 0 clamp(3rem, 7vw, 6rem);
  color: #deceb6;
  font-family: "roboto";
}
#projects hr {
  visibility: hidden;
}

.heading {
  text-align: center;
  margin-top: 10vh;
}
.heading h1 {
  font-family: "roboto slab", sans-serif;
  font-size: clamp(2.2rem, 7vw, 4rem);
  margin-bottom: 0pt;
}
.heading h2 {
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.5rem, 5vw, 1rem);
}

.projects {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.projectCard {
  margin-bottom: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-width: 0.2em;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
     border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
}
.projectCard button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.projectCard button h1 {
  font-size: clamp(0.5rem, 6vw, 2rem);
  color: #deceb6;
}
.projectCard button:hover {
  cursor: pointer;
}

@media (min-width: 40rem) {
  .heading {
    margin: 12vh auto 0 auto;
    text-align: center;
  }
  .heading h1 {
    font-size: clamp(5rem, 5vw, 8rem);
    margin-bottom: 0pt;
  }
  .heading h2 {
    font-size: clamp(0.5rem, 2vw, 3rem);
  }

  .projects {
    margin: auto;
    margin-top: clamp(9rem, 18vh, 16rem);
    flex-direction: row;
    width: 100%;
  }
  .projects .projectCard {
    border-width: clamp(0.2rem, 0.3vw, 0.4rem);
  }
  .projects .projectCard:hover {
    border-width: clamp(0.3em, 0.5vw, 0.6em);
  }
  .projects .projectCard button h1 {
    font-size: clamp(1rem, 2.3vw, 5rem);
    margin: auto;
    padding: 1em 2em;
  }
}
/* ------CONTACT------*/
#contact {
  width: 100%;
  padding: 0 clamp(3rem, 7vw, 6rem);
  display: flex;
  flex-direction: column;
  color: #deceb6;
  background-color: #212020;
}
#contact .contactHeading {
  margin-top: 3.3rem;
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.1rem, 7vw, 1.9rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7em;
  justify-content: center;
}
#contact .contactContent {
  display: flex;
  flex-direction: column;
}
#contact .contactContent p {
  font-family: "roboto";
  text-align: justify;
  font-size: clamp(0.5rem, 5vw, 1rem);
  line-height: 1.7rem;
  margin-bottom: 15vh;
}
#contact .contactContent p a {
  color: #deceb6;
  font-family: "roboto";
  text-decoration: underline;
}
#contact .contactContent #emailForward {
  height: 3.2em;
  background: transparent;
  color: #deceb6;
  font-family: "roboto";
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 700;
  letter-spacing: 0.2ch;
  border-width: 0.2em;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
     border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
}

@media (min-width: 40rem) {
  #contact {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #contact .contactHeading {
    margin-top: 0;
    padding-right: 3rem;
    flex-direction: column;
    font-size: clamp(1rem, 4vw, 5rem);
    width: 50%;
    height: 80%;
    text-align: right;
  }
  #contact .contactHeading h1 {
    margin: 0;
  }
  #contact .contactContent {
    padding-inline: clamp(2rem, 3vw, 6rem);
    width: 50%;
    height: 80%;
    justify-content: center;
  }
  #contact .contactContent p {
    font-size: clamp(0.8rem, 1.3vw, 1.7rem);
    line-height: 2.5rem;
    margin-bottom: 5vh;
  }
  #contact .contactContent p a {
    font-size: clamp(0.8rem, 1.3vw, 1.7rem);
    line-height: 2.5rem;
    margin-bottom: 5vh;
  }
  #contact .contactContent #emailForward {
    width: clamp(20rem, 30vw, 35rem);
    font-size: clamp(0.8rem, 1.5vw, 1.7rem);
    margin-inline: auto;
    justify-content: center;
  }
  #contact .contactContent #emailForward:hover {
    cursor: pointer;
    border-width: clamp(0.3em, 0.5vw, 0.6em);
  }
}
/* ------FOOTER------*/
footer {
  left: 0;
  bottom: 0;
  height: clamp(4em, 6vh, 6rem);
  background-color: #1d1c1c;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .credits p {
  color: #deceb6;
  margin: auto;
  font-size: clamp(0.1rem, 3vw, 2rem);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (min-width: 40rem) {
  footer .credits p {
    font-size: clamp(0.1rem, 1.2vw, 1.4rem);
  }
}

/*----------------PROJECT PAGES----------------*/
/* ------Soccer robot------*/
.project {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 clamp(3rem, 7vw, 6rem);
  margin-top: 14vh;
  color: #deceb6;
}
.project .projectHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7em;
  width: 100%;
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.1rem, 5vw, 1.5rem);
}
.project .projectHeading h1 {
  margin: 0;
}
.project .projectContent {
  display: flex;
  flex-direction: column;
}
.project .projectContent p {
  line-height: 1.7rem;
  text-align: justify;
  margin-bottom: 1vh;
  margin-top: 5vh;
  font-family: "roboto";
  font-size: clamp(0.5rem, 4vw, 1.2rem);
}
.project .projectContent .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.project .projectContent .bottom .projectLanguages {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.project .projectContent .bottom .projectLanguages h1 {
  padding: 0.2em 0.4em;
  font-family: "Source Code Pro";
  font-size: clamp(0.5rem, 4vw, 1.1rem);
  color: #b0aba4;
  background-color: #323030;
  border: none;
  border-radius: 5pt;
}
.project .projectContent .bottom .projectLinks {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}
.project .projectContent .bottom .projectLinks button {
  border: none;
  background-color: transparent;
}
.project .projectContent .bottom .projectLinks button img {
  width: clamp(0.5rem, 10vw, 1.8rem);
  height: auto;
  opacity: 0.6;
}
.project .projectContent .bottom .projectLinks button:hover {
  cursor: pointer;
}

@media (min-width: 40rem) {
  .project {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 0;
    height: 100vh;
    margin: auto;
  }
  .project .projectHeading {
    padding-right: 3rem;
    flex-direction: column;
    font-size: clamp(1rem, 3.2vw, 4.3rem);
    width: 50%;
    height: 100%;
    text-align: right;
  }
  .project .projectHeading h1 {
    margin: 0;
  }
  .project .projectContent {
    padding-inline: clamp(2rem, 3vw, 6rem);
    width: 50%;
    height: 100%;
    justify-content: center;
  }
  .project .projectContent p {
    font-size: clamp(0.8rem, 1.3vw, 1.7rem);
    line-height: clamp(1rem, 2.5vw, 2.6rem);
  }
  .project .projectContent .bottom .projectLanguages h1 {
    font-size: clamp(0.8rem, 1.3vw, 1.7rem);
  }
  .project .projectContent .bottom .projectLinks button img {
    width: clamp(0.5rem, 2.5vw, 3rem);
  }
}
/* ------Maze Algorithm------*/
.mazeHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7em;
  width: 100%;
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.5rem, 4.4vw, 1.3rem);
}
.mazeHeading h1 {
  margin: 0;
}

@media (min-width: 40rem) {
  .mazeHeading {
    padding-right: 3rem;
    flex-direction: column;
    font-size: clamp(1rem, 3.2vw, 4.3rem);
    width: 50%;
    height: 100%;
    text-align: right;
  }
  .mazeHeading h1 {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */