@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100&display=swap");
.projects h1 {
  border: none;
  border-radius: 0.4em;
  -webkit-box-shadow: 0.35em 0.35em 1.2em #d2d2d2, -0.3em -0.3em 1.3em #f9f9f9;
          box-shadow: 0.35em 0.35em 1.2em #d2d2d2, -0.3em -0.3em 1.3em #f9f9f9;
}

html,
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #c9c8c2;
}

a,
p {
  text-decoration: none;
}

section {
  height: 100vh;
}

.nav {
  min-height: 8vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #c9c8c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 40em;
}

@media screen and (max-width: 1100px) {
  .nav .links {
    width: 37em;
  }
}

@media screen and (max-width: 1000px) {
  .nav .links {
    width: 33em;
  }
}

.nav .links li {
  list-style: none;
}

.nav .links a {
  padding: 0.5em;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.85em;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.nav .links a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.logo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 450;
  letter-spacing: 1px;
  color: black;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #262626;
  margin: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .links {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #bfbfbf;
    opacity: 0.95;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
  }
  .links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------HOME------*/
.home .landingWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("img/landingBlackMobile.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home h3 {
  margin-top: 62vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  color: #e9e0c8;
}

.home h1 {
  margin-top: 1vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  color: #e9e0c8;
}

.home p {
  margin-top: 1.5vh;
  margin-left: 6vw;
  margin-right: 2vw;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #e9e0c8;
}

.home a {
  color: #b5ada6;
}

@media (min-width: 40rem) {
  .home .landingWrapper {
    background-image: url("img/landingBlack.JPG");
    background-position: top;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .home h3 {
    margin-top: 27vh;
    margin-left: 6vw;
    margin-bottom: 0;
    font-family: "Merriweather", sans-serif;
    font-size: 5rem;
    color: #e9e0c8;
  }
  .home h1 {
    margin-top: 2vh;
    margin-left: 6vw;
    margin-bottom: 0;
    font-family: "Roboto Slab", sans-serif;
    font-size: 6.5rem;
    color: #e9e0c8;
  }
  .home p {
    margin-top: 3vh;
    margin-left: 6vw;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #e9e0c8;
  }
  .home a {
    color: #b5ada6;
  }
}

/* ------PROJECTS------*/
hr {
  visibility: visible;
}

.heading {
  margin: 16vh auto 0 auto;
  text-align: center;
  font-family: "roboto";
  color: #262626;
}

.heading h1 {
  font-size: 4em;
  margin-bottom: 0pt;
}

.heading h2 {
  font-size: 1.2em;
}

.projects {
  margin: auto;
  margin-top: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5em;
  width: 100%;
}

.projects h1 {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  max-width: 45em;
  width: 42%;
  padding: 5pt;
  padding-top: 2em;
  padding-bottom: 2em;
}

.projects .soccer {
  margin-left: 6%;
  border-radius: 5pt;
}

.projects .messenger {
  border-radius: 5pt;
}

.projects .maze {
  margin-right: 6%;
  border-radius: 5pt;
}

/* ------CONTACT------*/
#contact {
  height: 60vh;
  text-align: center;
}

/* ------FOOTER------*/
footer {
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background-color: #1b1910;
}

.links img {
  width: 20px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.credits p {
  margin: 1vh 0 3vh 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #262626;
}
/*# sourceMappingURL=style.css.map */