@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@100&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #151414;
}

a,
p {
  text-decoration: none;
}

section {
  height: 100vh;
}

.nav {
  height: 8vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #151414;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}
.nav .links {
  font-size: clamp(0.5rem, 1.4vw, 1.3rem);
  display: flex;
  justify-content: space-around;
  width: clamp(30rem, 50vw, 55rem);
}
.nav .links li {
  list-style: none;
}
.nav .links a {
  padding: 0.5em;
  color: #e8e4da;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 0.85em;
  transition: transform 250ms;
}
.nav .links a:hover {
  color: white;
}

.logo {
  justify-content: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: clamp(0.7rem, 1.6vw, 1.5rem);
  font-weight: 450;
  letter-spacing: 1px;
  color: #e8e4da;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #deceb6;
  margin: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .links {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #bfbfbf;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
  }

  .links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------HOME------*/
.home .landingWrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("img/landingBlackMobile.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home h3 {
  margin-top: 62vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  color: #deceb6;
}
.home h1 {
  margin-top: 1vh;
  margin-left: 6vw;
  margin-bottom: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  color: #deceb6;
}
.home p {
  margin-top: 1.5vh;
  margin-left: 6vw;
  margin-right: 2vw;
  font-family: "Roboto Slab", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #deceb6;
}
.home a {
  color: #2d261b;
}
@media (min-width: 40rem) {
  .home .landingWrapper {
    background-image: url("img/landingBlack.JPG");
    background-position: top;
    box-shadow: none;
  }
  .home h3 {
    margin-top: 27vh;
    margin-left: 4.5vw;
    margin-bottom: 0;
    font-size: 5vw;
  }
  .home h1 {
    margin-top: 2vh;
    margin-left: 4.5vw;
    margin-bottom: 0;
    font-size: 6.5vw;
  }
  .home p {
    margin-top: 3vh;
    margin-left: 4.5vw;
    font-size: 1.2vw;
    font-weight: 400;
  }
  .home a {
    color: #9096b1;
  }
}

/* ------PROJECTS------*/
#projects {
  padding: 0 clamp(3rem, 7vw, 6rem);
  color: #deceb6;
  font-family: "roboto";
}
#projects hr {
  visibility: hidden;
}

.heading {
  text-align: center;
  margin-top: 10vh;
}
.heading h1 {
  font-family: "roboto slab", sans-serif;
  font-size: clamp(2.2rem, 7vw, 4rem);
  margin-bottom: 0pt;
}
.heading h2 {
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.5rem, 5vw, 1rem);
}

.projects {
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 70%;
  text-align: center;
}

.projectCard {
  margin-bottom: 2.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-width: 0.2em;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
     border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
}

@media (min-width: 40rem) {
  .heading {
    margin: 12vh auto 0 auto;
    text-align: center;
  }
  .heading h1 {
    font-size: clamp(5rem, 5vw, 8rem);
    margin-bottom: 0pt;
  }
  .heading h2 {
    font-size: clamp(0.5rem, 2vw, 3rem);
  }

  .projects {
    margin: auto;
    margin-top: clamp(9rem, 18vh, 16rem);
    flex-direction: row;
    width: 100%;
  }
  .projects .projectCard {
    font-size: clamp(1rem, 1.7vw, 2rem);
    margin: auto;
    padding: 1em 2em;
  }
}
/* ------CONTACT------*/
#contact {
  width: 100%;
  padding: 0 clamp(3rem, 7vw, 6rem);
  display: flex;
  flex-direction: column;
  color: #deceb6;
  background-color: #212020;
}
#contact .contactHeading {
  margin-top: 3.3rem;
  font-family: "roboto slab", sans-serif;
  font-size: clamp(0.1rem, 7vw, 1.9rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7em;
  justify-content: center;
}
#contact .contactContent {
  display: flex;
  flex-direction: column;
}
#contact .contactContent p {
  text-align: justify;
  font-family: "roboto";
  font-size: clamp(0.5rem, 5vw, 1rem);
  line-height: 1.7rem;
  margin-bottom: 15vh;
}
#contact .contactContent #emailForward {
  height: 3.2em;
  background: transparent;
  color: #deceb6;
  font-family: "roboto";
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 700;
  letter-spacing: 0.2ch;
  border-width: 0.2em;
  border-style: solid;
  -o-border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
     border-image: linear-gradient(to top right, #3e2d1b, #785632) 1;
}

@media (min-width: 40rem) {
  #contact {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #contact .contactHeading {
    margin-top: 0;
    padding-right: 3rem;
    flex-direction: column;
    font-size: clamp(1rem, 4vw, 5rem);
    width: 50%;
    height: 80%;
    text-align: right;
  }
  #contact .contactHeading h1 {
    margin: 0;
  }
  #contact .contactContent {
    padding-inline: clamp(2rem, 3vw, 6rem);
    width: 50%;
    height: 80%;
    justify-content: center;
  }
  #contact .contactContent p {
    font-size: clamp(0.8rem, 1.3vw, 1.7rem);
    line-height: 2.5rem;
    margin-bottom: 5vh;
  }
  #contact .contactContent #emailForward {
    width: clamp(20rem, 30vw, 35rem);
    font-size: clamp(0.8rem, 1.5vw, 1.7rem);
    margin-inline: auto;
    justify-content: center;
  }
}
/* ------FOOTER------*/
footer {
  left: 0;
  bottom: 0;
  height: clamp(4em, 7vh, 6rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .links {
  height: 2rem;
  width: 10%;
  margin-inline: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
footer .links a {
  padding: 0;
  margin: 0;
}
footer .links a img {
  width: clamp(0.5rem, 1.8vw, 1.5rem);
  height: auto;
}
footer .credits {
  margin-inline: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}
footer .credits p {
  margin: auto;
  font-size: clamp(0.3rem, 5vw, 1rem);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e8e4da;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */